@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  width: 1200px;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  display: flex;
  margin: 0 70px;
}

.navigation-logo {
  margin-right: 30px;
}

.page-header-logo {
  display: block;
  margin-bottom: -5px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
  justify-content: flex-end;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 17px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  background-color: #ffffff;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.navigation-user .navigation-link:not(.button-enter) {
  min-width: 18px;
  min-height: 17px;
  padding: 24px 12px;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #82b3d3;
  cursor: pointer;
  display: inline-block;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}

.button-enter {
  background-color: #756157;
  padding: 9px 15px 8px;
  width: 160px;
}

.logo-container {
  background-image: url("../images/background/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-container {
  flex-grow: 1;
}

.logo-welcome {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

.main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 31px;
}

.advantages-text {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  margin: 0;
}

.introduction-container {
  margin-top: 63px;
  margin-bottom: 90px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.advantages-container,
.advantages-item:nth-child(2) {
  grid-column: 1/-1;
  display: flex;
  width: 1200px;
  margin: 0;
}

.city-container {
  color: #ffffff;
  background-color: #82b3d3;
  padding: 92px 85px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.advantages-item:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.2);
  padding: 103px 85px 102px;
}

.advantages-item:nth-child(3),
.advantages-item:nth-child(5) {
  background-color: rgba(131, 179, 211, 0.12);
  padding: 103px 85px 102px;
}

.number,
.advantages-description {
  font-size: 18px;
  line-height: 21px;
}

.number {
  margin-top: 0;
  margin-bottom: 30px;
}

.advantages-description {
  margin: 0;
}

.benefits-list {
  padding: 0;
  margin: 0;
  color: #000000;
  text-align: center;
  list-style-type: none;
  display: flex;
  width: 1200px;
}

.benefits-item {
  background-color: #ffffff;
  width: 400px;
  padding: 80px 85px 81px;
}

.benefits-item:first-child,
.benefits-item:last-child {
  background-color: rgba(131, 179, 211, 0.12);
}

.benefits-item:first-child::before {
  content: url('../images/benefits/benefits-house.svg');
  display: block;
  margin-bottom: 30px;
}

.benefits-item:nth-child(2)::before {
  content: url('../images/benefits/benefits-food.svg');
  display: block;
  margin-bottom: 31px;
}

.benefits-item:last-child::before {
  content: url('../images/benefits/benefits-souvenirs.svg');
  display: block;
  margin-bottom: 28px;
}

.benefits-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}


.benefits-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.search {
  text-align: center;
  padding-bottom: 93px;
  padding-top: 91px;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 29px;
}

.search-description {
  font-size: 22px;
  color: #333333;
  margin: 0;
  margin-bottom: 56px;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  width: 574px;
  background-color: #756157;
  padding: 12px 15px;
}

.newsletter {
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/background/newsletter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 94px;
  padding-bottom: 94px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 29px;
}

.newsletter-description {
  grid-column: 2/3;
  font-size: 22px;
  margin: 0;
  margin-bottom: 46px;
}

.newsletter-button {
  font-size: 20px;
  line-height: 36px;
  width: 200px;
  padding: 12px 15px;
  border-radius: 0px 10px 10px 0px;
}

.field {
  background-color: #f2f2f2;
  width: 600px;
  padding: 0;
}

.page-footer {
  display: flex;
  width: 1060px;
  padding: 40px 70px 30px;
}

.footer-social {
  width: 150px;
}

.footer-social-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.footer-social-item {
  width: 48px;
  height: 40px;
  box-sizing: border-box;
  padding: 13px 12px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-contacts {
  width: 720px;
  margin: auto;
}

.footer-contacts-address {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

.footer-contacts-address-phone {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  text-decoration: none;
}

.footer-logo {
  max-width: 120px;
}

.wrapper {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/background/catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 70px;
  padding-top: 35px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 10px;
}

.breadcrumbs {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  position: relative;
  text-decoration: none;
  margin-right: 26px;
}

.breadcrumbs-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-container {
  display: flex;
}

.catalog-filter-group {
  width: 150px;
}

.catalog-filter-group + .catalog-filter-group {
  width: 145px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-title {
  font-weight: 700;
  margin-bottom: 30px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 15px;
}

.catalog-products {
  display: flex;
  flex-direction: column;
  padding: 50px 71px 25px 72px;
}

.sorting {
  display: flex;
  margin-bottom: 56px;
}

.select-control {
  margin-right: 78px;
}


.control-input {
  font-size: 18px;
  line-height: 21px;
}

.catalog-filter-button {
  display: flex;
  flex-direction: column;
  width: 160px;
  margin: 0;
  padding: 0;
  align-self: flex-end;
  margin-left: 70px;
}

.button-group {
  padding: 14px 15px;
}

.button-reset {
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0);
  text-transform: none;
}

.found {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-right: 191px;
}

.sorting-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}

.card-select-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  background-color: #ffffff;
  padding: 0;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.card-select-toggle:last-child {
  margin-right: 0;
}

.hotel-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 18px;
  margin-bottom: 66px;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.hotel-card-content {
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
}

.hotel-card-image {
  display: block;
  margin: 0;
  margin-bottom: 16px;
}

.hotel-card-title {
  margin: 0;
  margin-bottom: 16px;
}

.hotel-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.hotel-card-type,
.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.button-dark {
  background-color: #756157;
}

.button-cheked {
  background-color: #7db54f;
}

.hotel-card-button {
  padding: 9px 15px 8px;
}

.star-wrapper {
  background-image: url('../images/icons/star.svg'), url('../images/icons/star.svg');
  background-repeat: no-repeat;
}

.hotel-card-rank {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
  margin: 0;
  padding: 9px 22px 8px 23px;
}

.pagination-container {
  display: flex;
  padding-top: 30px;
}

.pagination {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
  background-color: #82b3d3;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.select-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin-left: auto;
}

.catalog-newsletter {
  background-image: none;
  color: #000000;
  background-color: #ffffff;
}
