@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  background-color: #f2f2f2;
}

body {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.button {
  display: inline-block;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #82b3d3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  position: relative;
  display: flex;
  margin: 0 70px;
}

.navigation-logo {
  margin-right: 30px;
  z-index: 1;
}

.page-header-logo {
  display: block;
  margin-bottom: -5px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 0;
  padding: 0;
  align-items: center;
  list-style-type: none;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
  justify-content: flex-end;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 17px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  background-color: #ffffff;
}

.navigation-link-current::after {
  position: absolute;
  right: 17px;
  left: 17px;
  bottom: -1px;
  z-index: 1;
  height: 2px;
  background-color: #756257;
  content: "";
}

.favorite-link {
  margin-right: 20px;
}

.favorite-number {
  position: absolute;
  top: 15px;
  left: 24px;
  width: 20px;
  height: 20px;
  padding-top: 2px;
  box-sizing: border-box;
  text-align: center;
  font-size: 10px;
  line-height: 13px;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: -0.1em;
  background-color: #7db54f;
  border-radius: 10px;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #756157;
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-link:hover .navigation-icon,
.navigation-link:focus .navigation-icon {
  fill: #756157;
}

.navigation-link:active .navigation-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.navigation-user .navigation-link:not(.button-enter) {
  min-width: 18px;
  min-height: 17px;
  padding: 24px 12px;
}

.button:hover,
.button:focus {
  background-color: #615048;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.button:disabled {
  background-color: #e5e5e5;
}

.button-enter {
  width: 160px;
  padding: 9px 15px 8px;
  color: #ffffff;
  background-color: #756157;
}

.logo-container {
  position: relative;
  background-image: url("../images/background/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.logo-container::after {
  position: absolute;
  bottom: 0;
  height: 57px;
  content: url("../images/background/background-part.svg");
}

.main-container {
  flex-grow: 1;
}

.logo-welcome {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

.main-title {
  width: 620px;
  margin: 0 auto 31px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-text {
  margin: 0;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

.introduction-container {
  margin-top: 63px;
  margin-bottom: 90px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.advantages-container,
.advantages-item:nth-child(2) {
  grid-column: 1/-1;
  display: flex;
  width: 1200px;
  margin: 0;
}

.city-container {
  padding: 92px 85px;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-item:nth-child(4) {
  padding: 103px 85px 102px;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(3),
.advantages-item:nth-child(5) {
  padding: 103px 85px 102px;
  background-color: rgba(131, 179, 211, 0.12);
}

.number,
.advantages-description {
  font-size: 18px;
  line-height: 21px;
}

.number {
  margin-top: 0;
  margin-bottom: 30px;
}

.advantages-description {
  margin: 0;
}

.benefits-list {
  display: flex;
  width: 1200px;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #000000;
  list-style-type: none;
}

.benefits-item {
  display: flex;
  width: 400px;
  flex-direction: column;
  align-items: center;
  padding: 80px 85px 81px;
  background-color: #ffffff;
}

.benefits-item:first-child,
.benefits-item:last-child {
  background-color: rgba(131, 179, 211, 0.12);
}

.benefits-house::before {
  content: url("../images/benefits/benefits-house.svg");
  display: block;
  margin-bottom: 30px;
}

.benefits-food::before {
  content: url("../images/benefits/benefits-food.svg");
  display: block;
  margin-bottom: 31px;
}

.benefits-souvenirs::before {
  content: url("../images/benefits/benefits-souvenirs.svg");
  display: block;
  margin-bottom: 28px;
}

.benefits-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}


.benefits-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.search {
  padding-top: 91px;
  padding-bottom: 93px;
  text-align: center;
}

.search-title {
  margin-top: 0;
  margin-bottom: 29px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-description {
  margin: 0;
  margin-bottom: 56px;
  font-size: 22px;
  color: #333333;
}

.search-button {
  width: 574px;
  padding: 12px 15px;
  font-size: 20px;
  line-height: 36px;
  background-color: #756157;
}

.newsletter {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/background/newsletter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

.newsletter-title {
  margin-top: 0;
  margin-bottom: 29px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.newsletter-description {
  margin: 0;
  margin-bottom: 46px;
  grid-column: 2/3;
  font-size: 22px;
}

.newsletter-button {
  width: 200px;
  padding: 12px 15px;
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 10px 10px 0;
}

.newsletter-button:hover,
.newsletter-button:focus {
  background-color: #68a2ca;
}

.newsletter-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.field {
  width: 600px;
  margin: 0;
  padding: 15px 19px;
  font: inherit;
  background-color: #f2f2f2;
  border: none;
  border-radius: 10px 0 0 10px;
}

.page-footer {
  display: flex;
  width: 1060px;
  padding: 40px 70px 30px;
}

.footer-social {
  width: 150px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 40px;
  padding: 10px;
  box-sizing: border-box;
}

.footer-icon {
  fill: #83b3d3;
}

.footer-social-link:hover .footer-icon:hover,
.footer-social-link:focus .footer-icon:focus {
  fill: #68a2ca;
}

.footer-social-link:active .footer-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts {
  width: 720px;
  margin: auto;
}

.footer-contacts-address {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

.footer-contacts-address-phone {
  font-family: inherit;
  color: #000000;
  text-decoration: none;
}

.footer-contacts-address-phone:hover,
.footer-contacts-address-phone:focus {
  color: #756157;
}

.footer-contacts-address-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo-academy {
  display: block;
  margin: auto;
  fill: #000000;
}

.footer-logo-link:hover .footer-logo-academy,
.footer-logo-link:focus .footer-logo-academy {
  fill: #756157
}

.footer-logo-link:active .footer-logo-academy {
  fill: rgba(117, 97, 87, 0.3);
}

.footer-logo {
  max-width: 120px;
  padding: 9px 0;
}

.wrapper {
  padding: 70px;
  padding-top: 35px;
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/background/catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.inner-header-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 26px;
}

.breadcrumbs-link {
  display: block;
  min-width: 12px;
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #ffffff;
}

.breadcrumbs-item:not(:last-child)::after {
  position: absolute;
  height: 8px;
  right: -15px;
  top: -5px;
  display: block;
  width: 5px;
  content: url("../images/icons/breadcrumbs-icon.svg");
}

.breadcrumbs-link:hover,
.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: #ffffff;
}

.breadcrumbs-link:hover .breadcrumbs-icon,
.breadcrumbs-link:active .breadcrumbs-icon {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus .breadcrumbs-icon {
  fill: #ffffff;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-container {
  display: flex;
}

.catalog-filter-group {
  margin: 0;
  margin-right: 70px;
  padding: 0;
  border: none;
}

.catalog-filter-group + .catalog-filter-group {
  width: 145px;
}

.price-container {
  width: 288px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-title {
  margin-bottom: 30px;
  font-weight: 700;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 15px;
}

.control {
  position: relative;
  display: block;
  padding-left: 40px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control:focus .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83b3d3;
}

.control:active .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 13px;
  height: 10px;
  background-image: url(../images/icons/checked.svg);
  content: "";
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.control-label {
  font-size: 18px;
  line-height: 21px;
}

.range-wrapper-inputs {
  display: flex;
  margin-bottom: 32px;
}

.catalog-filter-label {
  position: relative;
  border: 2px solid #ffffff;
  border-radius: 4px 0 0 4px;
}

.catalog-filter-label:not(:first-child) {
  border-radius: 0 4px 4px 0;
}

.range-label {
  position: absolute;
  top: 15px;
  right: 14px;
  font-size: 18px;
  line-height: 21px;
  opacity: 0.3;
}

.range-input {
  width: 144px;
  padding: 14px 14px 13px 19px;
  box-sizing: border-box;
  font: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-label:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.catalog-filter-label:focus {
  box-shadow:
    0 0 0 3px #81b3d2,
    inset 0 0 0 3px #81b3d2;
}

.catalog-filter-label:active {
  background-color: #756257;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: 3px solid #83b3d3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4)
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.catalog-products {
  display: flex;
  flex-direction: column;
  padding: 50px 71px 25px 72px;
}

.sorting {
  display: flex;
  align-items: center;
  margin-bottom: 56px;
}

.select {
  position: relative;
  display: flex;
  align-items: center;
  width: 290px;
  margin-right: auto;
}

.select-control {
  width: 100%;
  padding: 14px 20px;
  padding-right: 97px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  background-image: url("../images/icons/select.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  appearance: none;
}

.select-control:hover,
.select-control:focus {
  border-color: #68a2ca;
}

.select-control:active {
  border-color: #3f5e72;
}

.select-control:disabled {
  color: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.3);
}

.catalog-filter-button {
  display: flex;
  flex-direction: column;
  width: 160px;
  margin: 0;
  padding: 0;
  align-self: flex-end;
}

.button-submit {
  margin-bottom: 27px;
  padding: 14px 15px;
}


.button-submit:hover,
.button-submit:focus {
  background-color: #68a2ca;
}

.button-submit:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-reset {
  width: 100px;
  align-self: center;
  padding: 4px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-align: center;
  text-transform: none;
  background-color: transparent;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
}

.button-reset:focus {
  background-color: transparent;
  outline: 3px solid #83b3d3;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: transparent;
}

.found {
  margin-right: 191px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.card-select-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  padding: 0;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.card-select-toggle:last-child {
  margin-right: 0;
}

.card-select-toggle-current {
  border-color: #000000;
}

.card-select-toggle:hover,
.card-select-toggle:active {
  background-color: #ffffff;
  border-color: #000000;
}

.card-select-toggle:focus {
  background-color: #ffffff;
  border-color: #68a2ca;
}

.hotel-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 18px;
  margin: 0;
  margin-bottom: 66px;
  padding: 0;
  list-style-type: none;
}

.hotel-list::after {
  position: absolute;
  bottom: -66px;
  width: 1055px;
  height: 1px;
  background-color: #e6e6e6;
  content: "";
}

.hotel-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.hotel-card-content {
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
}

.hotel-card-image {
  display: block;
  margin: 0;
  margin-bottom: 16px;
}

.hotel-card-title {
  margin: 0;
  margin-bottom: 16px;
}

.hotel-card-link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.hotel-card-type,
.hotel-card-price {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.button-dark {
  background-color: #756157;
}

.button-blue:hover,
.button-blue:focus {
  background-color: #68a2ca;
}

.button-blue:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-cheked {
  background-color: #7db54f;
}

.button-cheked:hover,
.button-cheked:focus {
  background-color: #6c9e42;
}

.button-cheked:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7db54f;
}

.hotel-card-button {
  padding: 9px 15px 8px;
}

.star-wrapper {
  display: flex;
  align-items: center;
}

.star {
  display: inline-block;
  width: 18px;
  height: 17px;
  margin-right: 6px;
  background-image: url("../images/icons/star.svg");
  background-size: 18px 17px;
  background-repeat: no-repeat;
  background-position: center;
}

.hotel-card-rank {
  margin: 0;
  padding: 9px 22px 8px 23px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  width: 60px;
  height: 60px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  background-color: #82b3d3;
  border: 1px solid #82b3d3;
  border-radius: 4px;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68a2ca;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
  border: none;
}

.number-hotels {
  display: flex;
}

.select-description {
  align-self: center;
  margin: 0;
  margin-right: 51px;
  font: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.page-hotel {
  position: relative;
  display: flex;
  width: 160px;
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 14px 20px;
  font: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-image: url("../images/icons/select.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  appearance: none;
}

.page-hotel:hover,
.page-hotel:focus {
  border-color: #68a2ca;
}

.page-hotel:active {
  border-color: #3f5e72;
}

.page-hotel:disabled {
  color: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.3);
}

.catalog-newsletter {
  color: #000000;
  background-color: #ffffff;
  background-image: none;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-auth {
  width: 715px;
  box-sizing: border-box;
}

.modal-close-button {
  position: absolute;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  padding: 0;
  background-color: #f2f2f2;
  background-image: url("../images/form/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
  ;
}

.modal-close-button:active {
  background-color: #e6e6e6;
  opacity: 0.3;
}

.form-title {
  margin-top: 0;
  margin-bottom: 63px;
  font-family: inherit;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.modal-form-label {
  position: relative;
  font-weight: 700;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form .field-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-bottom: 11px;
}

.modal-form-input {
  position: relative;
}

.age-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

.button-image {
  fill: rgba(0, 0, 0, 0.3);
}

.age-button:hover .button-image {
  fill: #000000;
}

.age-button:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.age-button:focus .button-image {
  fill: #000000;
}

.age-button:active .button-image {
  fill: rgba(0, 0, 0, 0.2);
}

.button-less {
  top: 15px;
  left: 19px;
  background-color: transparent;
}

.button-more {
  top: 15px;
  right: 19px;
  background-color: transparent;
}

.help {
  margin: 0;
  margin-left: 155px;
  font-size: 16px;
  line-height: 21px;
}

.mistake {
  color: #ff5757;
}

.success {
  color: #333333;
}

.age-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.modal-field {
  width: 420px;
  box-sizing: border-box;
  margin: 0;
  padding: 15px 19px;
  font: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
}

.modal-field::placeholder {
  font: inherit;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
}

.calendar-button {
  position: absolute;
  top: 21px;
  right: 19px;
  width: 15px;
  height: 15px;
  background-image: url("../images/form/calendar.svg");
  border: none;
  opacity: 0.3;
  cursor: pointer;
}

.age-field {
  width: 133px;
  text-align: center;
  appearance: textfield;
}

.age-field::-webkit-outer-spin-button,
.age-field::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.data-start {
  margin-right: 42px;
}

.data-end {
  margin-right: 36px;
}

.adults {
  margin-right: 64px;
}

.children {
  position: relative;
  margin-right: 43px;
  padding-right: 6px;
}

.tooltip {
  position: absolute;
  top: 0;
  right: 18px;
  width: 25px;
  height: 25px;
}

.tooltip-toggle {
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
  background-color: #82b3d3;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.tooltip-icon {
  position: absolute;
  top: 8px;
  left: 12px;
  display: block;
  width: 1px;
  height: 9px;
  color: #ffffff;
}

.tooltip-toggle:active {
  background-color: #68a2ca;
}

.tooltip-text {
  position: absolute;
  left: 51%;
  transform: translateX(-51%);
  z-index: 1;
  display: none;
  width: 256px;
  box-sizing: border-box;
  margin-top: 20px;
  padding: 15px 18px 18px 22px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  background-color: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.tooltip-text::before {
  position: absolute;
  top: -9px;
  left: 0;
  right: 0;
  width: 19px;
  height: 9px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/form/triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.field:hover {
  background-color: #e6e6e6;
}

.field:focus {
  outline: 3px solid #83b3d3;
}

.field:not(:placeholder-shown) {
  background-color: #ffffff;
  outline: 2px solid #000000;
}

.modal-button {
  padding: 12px 26px;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #83b3d3;
  border-radius: 10px;
}

.modal-button:hover {
  background-color: #68a2ca;
}

.modal-button:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.modal-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68a2ca;
}
