@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  width: 1200px;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  display: flex;
  margin: 0 70px;
}

.navigation-logo {
  margin-right: 30px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.navigation-link {
  display: block;
  padding: 20px 17px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
  background-color: #ffffff;
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 17px;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #82b3d3;
  cursor: pointer;
}

.button-enter {
  background-color: #756157;
}

/* .main-index {
  background-image: url("../images/background/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
} */

.logo-container {
  background-image: url("../images/background/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-container {
  flex-grow: 1;
  /* padding-top: 51px; */
}

.logo-welcome {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

.main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 31px;
}

.advantages-text {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  margin: 0;
}

.introduction-container {
  margin-top: 63px;
  margin-bottom: 90px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
}

.advantages-item {
  width: 400px;
}

.advantages-container,
.advantages-item:nth-child(2) {
  display: flex;
  width: 1200px;
}

.city-container {
  color: #ffffff;
  background-color: #82b3d3;
  padding: 92px 85px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.advantages-item:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.2);
  padding: 103px 85px 102px;
  box-sizing: border-box;
}

.advantages-item:nth-child(3),
.advantages-item:nth-child(5) {
  background-color: rgba(131, 179, 211, 0.12);
  padding: 103px 85px 102px;
  box-sizing: border-box;
}

.number,
.advantages-description {
  font-size: 18px;
  line-height: 21px;
}

.number {
  margin-top: 0;
  margin-bottom: 30px;
}

.advantages-description {
  margin: 0;
}

.benefits-list {
  padding: 0;
  color: #000000;
  text-align: center;
  list-style: none;
  display: flex;
  width: 1200px;
}

.benefits-item {
  background-color: #ffffff;
  width: 400px;
  padding: 80px 85px 81px;
}

.benefits-item:first-child,
.benefits-item:last-child {
  background-color: rgba(131, 179, 211, 0.12);
}

.benefits-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.benefits-description {
  font-size: 18px;
  line-height: 21px;
}

.search {
  text-align: center;
  padding-bottom: 93px;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 91px;
  margin-bottom: 29px;
}

.search-description {
  font-size: 22px;
  color: #333333;
  margin-bottom: 56px;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #756157;
}

.newsletter {
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/background/newsletter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 94px;
  padding-bottom: 94px;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 29px;
}

.newsletter-description {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 46px;
}

.newsletter-button {
  font-size: 20px;
  line-height: 36px;
}

.page-footer {
  display: flex;
  width: 1060px;
  margin: 40px 70px 30px;
}

.footer-social {
  width: 150px;
}

.footer-social-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.footer-social-item {
  width: 48px;
  height: 40px;
}

.footer-contacts {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.footer-contacts-address {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

.footer-contacts-address-phone {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  text-decoration: none;
}

.footer-logo {
  max-width: 120px;
}

.field {
  background-color: #f2f2f2;
}

.wrapper {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/background/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 70px;
  padding-top: 35px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 10px;
}

.breadcrumbs {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
  margin-right: 26px;
}

.catalog-filter {
  display: flex;
}

.catalog-products {
  display: flex;
  flex-direction: column;
  padding: 50px 71px 25px 72px;
}

.catalog-filter-title {
  font-weight: 700;
}

.sorting {
  display: flex;
  margin-bottom: 56px;
}

.select-control {
  margin-right: 78px;
}


.control-input {
  font-size: 18px;
  line-height: 21px;
}

.button-reset {
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0);
}

.found {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-right: 191px;
}

.sorting .button {
  width: 48px;
  height: 48px;
  margin-right: 8px;
  background-color: #ffffff;
}

.hotel-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 66px;
}

.hotel-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.hotel-card-type,
.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.button-dark {
  background-color: #756157;
}

.button-cheked {
  background-color: #7db54f;
}

.hotel-card-rank {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
}

.pagination-container {
  display: flex;
  padding-top: 30px;
}

.pagination {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px 24px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
  background-color: #82b3d3;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.select-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin-left: auto;
}

.catalog-newsletter {
  background-image: none;
  color: #000000;
  background-color: #ffffff;
}
